@using Friends_UI.ViewModels.Friends
@model List<UserWithFriendsCountDtoVM>

﻿<div class="flex items-baseline justify-between text-black">
	<div class="font-bold text-base"> People you may know </div>
</div>

<div class="side-list">
	@foreach (var item in Model)
	{
		<div class="side-list-item">
			<a asp-controller="User" asp-action="Details" asp-route-userId="1">
				<img src="@(string.IsNullOrEmpty(item.ProfilePictureUrl) ?
                                Url.Content("~/images/avatar/user.png") :
                                Url.Content(item.ProfilePictureUrl))" class="side-list-image rounded-full" />
			</a>
			<div class="flex-1">
				<a>
					<div class="side-list-title text-black">
						@item.FullName
					</div>
				</a>
				<div class="side-list-info text-black">@item.FriendsCountDisplay</div>
			</div>
			<form asp-controller="Friends" asp-action="SendFriendRequest" method="post">
				<input type="hidden" name="receiverId" value="@item.UserId" />
				<button type="submit" class="button bg-primary-soft text-primary">Follow</button>
			</form>
		</div>
	}
</div>